<div class="container">
    <div class="row">
     <div class="col-4">
         <h2><strong>ユーザー編集</strong></h2>
     </div>
    </div>
    
    <dov class="row">
        <div class="col-2">
            
        </div>
        
        <div class="col-8">
                    <%= form_with model: @user,url: user_path(@user.id), method: :patch  do |f| %>
                        <%= f.file_field :user_icon, accept: "image/*" %>
                        
                        <p>ユーザーネーム</p>
                        <%= f.text_field :email %></br>
                     <div style="margin: 20px;">
                        <%= f.submit '変更を保存' %>
                     </div>
                    <% end %>
                    
        </div>
    </dov>
</div>