<h3 class="card-title text-center mb-4 mt-1"><strong>利用規約</strong></h3>
<!--<h3 class="card-title text-center mb-4 mt-1"><strong>新規登録</strong></h3>-->
<h3 class="text-center mb-4 mt-1" "border m-3">このサイトは著作権法32条1項「引用」に基づいて、
以下の事柄を守ってサイトを使用して下さい。</h3>

<p class="text-center mb-4 mt-1" "border m-3">第一条</p>
<p class="text-center mb-4 mt-1" "border m-3">引用部分とそれ以外の部分が明瞭に区別されている投稿をするようにして下さい。</p>

<p class="text-center mb-4 mt-1" "border m-3">第二条</p>
<p class="text-center mb-4 mt-1" "border m-3">引用する作品や、歌詞を主とせずに、自分の著作物が主となるようにして下さい。</p>

<p class="text-center mb-4 mt-1" "border m-3">第三条</p>
<p class="text-center mb-4 mt-1" "border m-3">引用の目的が「報道、批評、研究など正当な範囲内」になるように投稿、または返信をして下さい。</p>

<p class="text-center mb-4 mt-1" "border m-3">第四条</p>
<p class="text-center mb-4 mt-1" "border m-3">著作権法48条1項1号より、投稿する際に共有するアーティストの名前を明らかにして投稿して下さい。</p>

<p class="text-center mb-4 mt-1" "border m-3">第五条</p>
<p class="text-center mb-4 mt-1" "border m-3">引用する著作物は、配信サイトにて公表された著作物であるようにして下さい。</p>

<p class="text-center mb-4 mt-1" "border m-3">第六条</p>
<p class="text-center mb-4 mt-1" "border m-3">著作者人格権を侵害するような投稿、または返信でないことを確認してからご利用をお願いします。</p>
